page-home {
    .page-container {
        background: #FDF7C5;

        .ply-note-content
        {
            margin-top: 15px;
        }
    }
}

.ply-card {
    width: 100%;
    padding: 15px;
    background: #F4EDC6;
    height: 200px;
    margin-top: 15px;
}

